@use "../components";

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
body {
    background-color: #f4f4f4;
    color: #555;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    &__main {
        padding: 0px 30px;
        box-sizing: border-box;
        font-family: "Poppins";
    }
    &__sidebar {
        background: #333;
        // margin-left: 50%;
        width: 125vw;
        color: #fff;
        padding: 50px;
        box-sizing: border-box;
    }
}

.showcase {
    background-image: url("https://img.freepik.com/free-photo/cup-coffee-with-foam-smile-face-desk-isolated_1303-18307.jpg?w=2000");
    background-repeat: no-repeat;
    background-position: center right;
    height: 500px;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
    &__container {
        color: #fff;
        font-size: 50px;
        line-height: 1.6em;
        text-align: center;
        text-shadow: 2px 2px 5px #000000;
        padding: 100px 100px 100px 100px;
        font-family: "Microbrew Soft Three 3D";
    }
}
