@use "../components";
@use "../abstracts" as *;

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
body {
    background-color: #e0e0e0;
    font-size: 16px;
    line-height: 1.6em;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

.showcase {
    background-image: url("https://img.freepik.com/free-photo/cup-coffee-with-foam-smile-face-desk-isolated_1303-18307.jpg?w=2000");
    background-repeat: no-repeat;
    background-position: center right;
    // height: 500px;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
    &__container {
        text-align: center;
        padding: 100px 100px 100px 100px;
        h1 {
            color: #fff;
            font-size: 4rem;
            font-family: cursive;
            line-height: 1.6em;
            padding: 5%;
            text-shadow: 2px 2px 5px #000000;
            background: #24242491;
            border-radius: $borderRadius;
        }
    }
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
    font-family: "Poppins";
    &__main {
        padding: 0px 30px;
        box-sizing: border-box;
        h1 {
            padding-bottom: $gap;
            font-weight: 700;
            color: $mainColor;
        }
    }
    &__sidebar {
        background: $mainColor;
        width: 125vw;
        color: #fff;
        padding: 50px;
        box-sizing: border-box;
        border-radius: $borderRadius;
        h2 {
            padding-bottom: $gap;
            font-weight: bold;
        }
    }
}

@media only screen and (max-width: 800px) {
    * {
        flex-wrap: wrap;
    }
    .form__image {
        display: none;
    }

    .form__content {
        border-radius: $borderRadius;
    }

    .container__sidebar {
        display: none;
    }
}
