@use "../abstracts" as *;

.products {
    padding: 0 12.5%;
    font-family: "Poppins";
    &__title {
        padding-bottom: $gap;
        font-weight: 700;
    }
    &__cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
        row-gap: 4rem;
        flex-wrap: wrap;
        .card {
            flex-basis: 30%;
            box-shadow: 13px 15px 5px 2px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            padding: 5%;
            text-align: center;

            &__title {
                font-size: 2rem;
                font-family: sans-serif;
                font-weight: 600;
                padding-bottom: $gap;
                padding-top: $gap;
                margin-top: 20px;
            }
            &__about {
                padding-bottom: $gapSmall;
            }
            &__price {
                display: flex;
                justify-content: space-around;
                padding-top: $gapSmall;
                button {
                    border-radius: 5px;
                    padding: 5px;
                    border-color: transparent;
                    &:hover {
                        font-weight: 600;
                        outline: 2px black solid;
                    }
                }
            }
        }
    }
    &__more {
        display: flex;
        justify-content: flex-end;
        padding: 25px 5%;
        text-decoration: none;
        color: #64391c;
    }
}

.cappuccino {
    background-image: url("assets/images/cappuccino.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40%;
    border-radius: 10px;
}

.espresso {
    background-image: url("assets/images/espresso.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40%;
    border-radius: 10px;
}

.latte {
    background-image: url("assets/images/latte.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40%;
    border-radius: 10px;
}

.americano {
    background-image: url("assets/images/americano.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40%;
    border-radius: 10px;
}

.bestseller {
    background-color: purple;
    text-align: center;
    border-radius: $borderRadius;
    color: white;
    font-size: $size;
    font-family: sans-serif;
    font-weight: 600;
    padding: $padding;
}

.new {
    background-color: green;
    text-align: center;
    border-radius: $borderRadius;
    color: white;
    font-size: $size;
    font-family: sans-serif;
    font-weight: 600;
    padding: $padding;
}

.nutmeg {
    background-color: brown;
    text-align: center;
    border-radius: $borderRadius;
    color: white;
    font-size: $size;
    font-family: sans-serif;
    font-weight: 600;
    padding: $padding;
}

.original {
    background-color: orange;
    text-align: center;
    border-radius: $borderRadius;
    color: white;
    font-size: $size;
    font-family: sans-serif;
    font-weight: 600;
    padding: $padding;
}
