@use "../abstracts" as *;

.navbar {
    // background-color: brown;
    // background-color: #693818;
    background-color: #e0e0e0e5;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    position: fixed;
    width: 95%;
    outline: 1px grey solid;
    &__title {
        display: flex;
        justify-content: space-around;
        align-items: center;
        h1 {
            font-size: $titleFontSize;
            font-family: "MicrobrewThree3DW01-Regular";
            padding-left: 10px;
        }
        i {
            font-size: $titleFontSize;
            padding-bottom: 8px;
        }
    }
    &__links {
        .link {
            color: black;
            padding-inline: 10px;
            text-decoration: none;
            font-family: "Poppins";
        }
        .link:hover {
            font-weight: bold;
        }
        .link:focus {
            font-weight: bold;
            outline: none;
        }
    }
}
