.navbar {
    background-color: brown;
    text-align: center;
    padding: 1px;
    &__title {
        font-size: 2rem;
        font-family: "MicrobrewThree3DW01-Regular";
        color: white;
    }
}
